Binaries
DerivedDataCache
Intermediate
Saved
.vscode
.vs
*.VC.db
*.opensdf
*.opendb
*.sdf
*.sln
*.suo
*.xcodeproj
*.xcworkspace
Content/Windmills/Maps/Windmills_Demo_BuiltData.uasset
Content/Moment/light_test_BuiltData.uasset
Plugins/Wwise/ThirdParty/Mac/
Plugins/Wwise/ThirdParty/IOS/
Plugins/Wwise/ThirdParty/tvOS/
Moment_cpp_WwiseProject/ProfilingSession2.prof
Moment_cpp_WwiseProject/ProfilingSession3.prof
Moment_cpp_WwiseProject/ProfilingSession4.prof
Moment_cpp_WwiseProject/ProfilingSession5.prof
Moment_cpp_WwiseProject/GeneratedSoundBanks/Mac/SoundBank_bgm.bnk
Moment_cpp_WwiseProject/GeneratedSoundBanks/Windows/SoundBank_bgm.bnk
Moment_cpp_WwiseProject/GeneratedSoundBanks/Windows/SoundBank_bgm.bnk
Moment_cpp_WwiseProject/GeneratedSoundBanks/Windows/SoundBank_bgm.bnk
Moment_cpp_WwiseProject/GeneratedSoundBanks/Mac/WwiseProjects:GeneratedSoundbanks:Mac.zip
Moment_cpp_WwiseProject/GeneratedSoundBanks/Windows/SoundBank_bgm.bnk
Moment_cpp_WwiseProject/GeneratedSoundBanks/Mac/SoundBank_bgm.bnk
Moment_cpp_WwiseProject/GeneratedSoundBanks/Windows/WwiseProjects:GeneratedSoundbanks:Windows.zip
Moment_cpp_WwiseProject/GeneratedSoundBanks/Windows/SoundBank_bgm.bnk
Moment_cpp_WwiseProject/GeneratedSoundBanks/Windows/SoundBank_bgm.bnk
Moment_cpp_WwiseProject/GeneratedSoundBanks/Windows/SoundBank_bgm.bnk
Moment_cpp_WwiseProject/GeneratedSoundBanks/Windows/SoundBank_bgm.bnk
Moment_cpp_WwiseProject/GeneratedSoundBanks/Mac/SoundBank_bgm.bnk
Moment_cpp_WwiseProject/GeneratedSoundBanks/Windows/SoundBank_bgm.bnk
